<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="FileAppender"
                     fileName="pcscale.log"
                     filePattern="pcscale-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d [%7r] [%t] %6p - %c - %m%n" charset="UTF-8"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="4 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>