# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

*.class
/src/JposScale/dist/
/src/JposScale/build/
/src/smscale/nbproject/private/
/src/smscale/dist/
/src/scale/dist/